<html>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>
<center><h1>Choose the Version</h1></center>

<div class="centered">
<button onclick="openEnglish()" id="english"><img src="../../assets/englishKing.png" width="160" height="244" border="0" alt="javascript button"></button>

<button onclick="openSpanish()" id="spanish"><img src="../../assets/spanishKing.png" width="160" height="244" border="0" alt="javascript button"></button>
</div>


</body>

<script>
function openEnglish() {
	window.open("AcesUp", "_parent");
}

function openSpanish() {
	window.open("SpanishAcesUp", "_parent");
}
</script>

</html>